RewriteCond %{SERVER_PORT} ^80$
RewriteRule ^(.*)$ https://pic1dei.tecnico.ulisboa.pt/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^/~pic1dei.daemon/$
RewriteCond %{REQUEST_URI} !^/~pic1dei.daemon/index\.php$
RewriteCond %{REQUEST_URI} !^/~pic1dei.daemon/login\.php$
RewriteCond %{REQUEST_URI} !^/~pic1dei.daemon/logout\.php$
RewriteCond %{REQUEST_URI} !^/~pic1dei.daemon/favicon\.ico$
RewriteCond %{REQUEST_URI} !^/~pic1dei.daemon/assets/public/
RewriteRule ^ - [F,L]
