<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="End-to-End Tests">
            <directory>tests/EndToEnd</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>entities</directory>
            <directory>pages</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage/"/>
            <text outputFile="php://stdout"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
