name: Build

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.os }} ${{ matrix.phpversion }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:         [ubuntu-latest]
        phpversion: ["8.2", "8.4"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: ${{ matrix.phpversion }}
            coverage: none

      - name: Install Composer
        uses: ramsey/composer-install@v3

      - name: Copy config
        run: cp config.php.in config.php

      - name: Show PHP version
        run: php -v

      - name: Syntax checker
        run: ./.github/scripts/syntax-check.sh

      - name: Run Install script
        run: php doctrine.php orm:schema-tool:create

      - name: Generate proxies
        run: php doctrine.php orm:generate-proxies

      - name: Check ORM mapping
        run: php doctrine.php orm:validate-schema |& grep "The mapping files are correct"
